<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            Trần Đình Tiến-HK1-2025
        </nav>
        <div class="copyright ml-auto">
            Đồ án quản lý bán hàng
        </div>				
    </div>
</footer>